<h3>　<%= @user.name %> 様</h3><br>

　<p>この度は、お問い合わせありがとうございました。</p><br>
　<p>以下でご質問の回答となっておりますでしょうか。</p><br>

<h3>-------------　お問い合わせ内容　-------------</h3>
  <p>件名：<%= @inquiry.title %></p>
  <p>内容：</p>
  <p><%= @inquiry.body %></p><br>

<h3>-------------------　回答　-------------------</h3>
  <p>　<%= @inquiry.reply %></p><br>

  <p>今後ともくわしめとりっぷをよろしくお願いいたします。</p>