<h3>　<%= @user.name %> 様</h3><br>

　<p>この度は、お問い合わせありがとうございました。</p>
　<p>以下がご質問の内容となっております。</p>
　<p>返信は2〜3営業日いただいております。</p><br>

<h3>-------------　お問い合わせ内容　-------------</h3>
  <p>件名：<%= @inquiry.title %></p>
  <p>内容：</p>
  <p><%= @inquiry.body %></p><br>

  <p>今後ともくわしめとりっぷをよろしくお願いいたします。</p><br>