<div class="container">
	<div class="row">
		<h2>　<%= params[:category] %></h2>
		<% @mytrips.each do |mytrip| %>
	  	<%= render 'mytrips/trip', mytrip: mytrip ,country: @country %>
		<% end %>
	</div>
</div>