<div class="container">
	<div class="row">
		<div class="col-xs-11 col-xs-offset-1" >
				<h2>What country are you going?</h2>

					<h3>旅行先決まっていますか？</h3>
					<p>どの国へ行こうか考えているあなたのために、<br>
					実際に現地へ行った<strong>traveler</strong>が細かいことまで情報を共有してくれます。<br>
					ガイドブックを手に取る前に、一度このサイトに目を通してみてはいかが？</p><br>


					<h3>旅行の思い出を投稿しよう</h3>
					<p>そして<strong>traveler</strong>のみなさま、<br>
					旅行先の素敵な思い出を<strong>くわしめとりっぷ</strong>に投稿し、共有しましょう！</p><br>
			</div>
		</div>

	<div class="row">
			<div class="col-xs-7 col-xs-offset-1" >
	     	<h3>使い方はとってもシンプル！</h3>

						<table class="table">
							<tr>
									<th class="post"></th>
									<th class="read"></th>
									<th class="good"></th>
									<th class="comment"></th>
							</tr>

						<tr>
								<td>旅行の思い出を<br>
								投稿しよう！</td>
								<td>いろんな国の情報を<br>
								ゲットしよう！</td>
								<td>良い情報だと思ったら<br>
									いいねボタンを押そう！<br>
									いいねした投稿は<br>
									マイページで見られます</td>
									<td>気になったことは<br>
									投稿者へ聞こう！</td>
						</tr>
					</table>
			</div>
		</div>
</div>