<div class="aboutpage">
	<div class="row">
		<div class="col-xs-9 col-xs-offset-2" ><br><br><br>
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
			<div id="page_top"><a href="#"></a></div>
				<div class="font"><h2>What country are you going?</h2></div>

				<div class="font3">
					<h3>旅行先決まっていますか？</h3>
					<p>どの国へ行こうか考えているあなたのために、<br>
					実際に現地へ行った<strong>トラベラー</strong>が細かいことまで情報を共有してくれます。<br>
					ガイドブックを手に取る前に、一度このサイトに目を通してみてはいかが？</p>

					<h3>旅行の思い出を投稿しよう</h3>
					<p>そして<strong>トラベラー</strong>のみなさま、<br>
					旅行先の素敵な思い出を<strong>くわしめとりっぷ</strong>に投稿し、共有しましょう！</p><br>

	     		<h3>使い方はとってもシンプル！</h3><br>
	     	</div>

	     		<div class="row">
              <div class="col-xs-3">
									<p class="post"></p>
									<div class="font2"><h4>post</div>
								  <div class="font3">
								  	旅行の思い出を<br>
								  	投稿しよう！</h4>
								  </div>
							</div>

							<div class="col-xs-3">
								 <p class="read"></p>
								 <div class="font2"><h4>read</div>
							   <div class="font3">
							    いろいろな国の<br>
									情報をゲットしよう！</h4>
								</div>
							</div>

							<div class="col-xs-3">
								<p class="good"></p>
								<div class="font2"><h4>good</div>
						     <div class="font3">
						      良い情報をもらったら<br>
									いいねボタンを押そう！</h4>
								</div>
						   </div>

							<div class="col-xs-3">
								<p class="comment"></p>
								<div class="font2"><h4>comment</div>
								<div class="font3">
								  気になったことを<br>
									投稿者へ聞こう！</h4>
								</div>
							</div>

					   <div class="col-xs-9">
							<p class="trip"></p>
								<div class="font2"><h4>Let's go on a trip!</h4></div>
						　</div>
		      </div>
			 </div>
 		</div>
</div>
