
	　<div class="aboutpage">
				<div class="row">
					<div class="col-xs-10 col-xs-offset-2" ><br><br><br>
							<h2>What country are you going?</h2>

								<h3>旅行先決まっていますか？</h3>
								<p>どの国へ行こうか考えているあなたのために、<br>
								実際に現地へ行った<strong>traveler</strong>が細かいことまで情報を共有してくれます。<br>
								ガイドブックを手に取る前に、一度このサイトに目を通してみてはいかが？</p><br>


								<h3>旅行の思い出を投稿しよう</h3>
								<p>そして<strong>traveler</strong>のみなさま、<br>
								旅行先の素敵な思い出を<strong>くわしめとりっぷ</strong>に投稿し、共有しましょう！</p><br>

				     		<h3>使い方はとってもシンプル！</h3><br>

				     		<div class="row">
			              <div class="col-xs-3">
												<p class="post"></p>
												<h4>post<br>
											  旅行の思い出を<br>
											  投稿しよう！</h4>
										</div>

										<div class="col-xs-3">
											 <p class="read"></p>
											 <h4>read<br>
										    いろいろな国の<br>
											情報をゲットしよう！</h4>
										</div>

										<div class="col-xs-3">
											<p class="good"></p>
											<h4>good<br>
									      良い情報をもらったら<br>
												いいねボタンを押そう！</h4>
									   </div>

										<div class="col-xs-3">
											<p class="comment"></p>
											<h4>comment<br>
											  気になったことを<br>
												投稿者へ聞こう！</h4>
										</div>

								   <div class="col-xs-9">
										<p class="trip"></p>
											<h4>Let's trip!</h4>
									　</div>
					      </div>
		  			 </div>
		   		</div>
			</div>
