<body>
	<div id="container">
		<div id="theTarget">
			<div class="image1"></div>
			<div class="image2"></div>
			<div class="image3"></div>
			<div class="image4"></div>
			<div class="image5"></div>
	</div>
</div>
	<div class="toppage">
			<div class="row">
				<div class="col-xs-7 col-xs-offset-3"><br><br><br>
					<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
      		<div id="page_top"><a href="#"></a></div>
					<h1><strong>What country are you going</strong>?</h1>
						<h3>旅行先決まっていますか？</h3>
							<p>どの国へ行こうか考えているあなたのために、<br>
							実際に現地へ行った<strong>トラベラー</strong>が細かいことまで情報を共有してくれます。<br>
							ガイドブックを手に取る前に、一度このサイトに目を通してみてはいかが？</p><br>

							<h3>旅行の思い出を投稿しよう</h3>
							<p>そして<strong>トラベラー</strong>のみなさま、<br>
							旅行先の素敵な思い出を<strong>くわしめとりっぷ</strong>に投稿し、共有しましょう！</p><br>

					<p><%=link_to "Log in", new_user_session_path, class: "btn btn-default col-xs-6 col-xs-offset-1" %></p>
					<p><%=link_to "Sign up", new_user_registration_path, class: "btn btn-default col-xs-6 col-xs-offset-1" %></p>
				</div>
			</div>
  </div>
</body>

