<div class="container">
  	<div class="row">
  		<div class="col-xs-10 col-xs-offset-1">

		<h1><strong>what country are you going</strong>??</h1>
			<p>In <strong>My trip</strong>,</p>
			<p></p>
			<p></p>

			<div class="btn-wrapper">
				<div class="row">
					<p><%=link_to "Log in", new_user_session_path, class: "btn btn-default col-xs-6 col-xs-offset-1" %></p>
				</div>
				<div class="row">
					<p><%=link_to "Sign Up", new_user_registration_path, class: "btn btn-default col-xs-6 col-xs-offset-1" %></p>
				</div>
			</div>

	</div>
</div>

<%= link_to " logout", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out" %></li>