<% mytrip.comments.each do |comment| %>
  <div id="comment_<%= comment.id %>">
  	<div class="row">
      <div class="col-xs-3">
        <span class="under"> <%= comment.user.name %> </span>
      </div>
      <div class="col-xs-7">
        <strong> <%= comment.body %>　</strong>
      </div>
      <div class="col-xs-2">
        <%= link_to ' 削除 ', mytrip_comments_path(comment.id), class: 'btn-sm btn-warning', method: :delete, remote: true %>
      </div>
    </div>
  </div>
<% end %>