<% mytrip.comments.each do |comment| %>
  <table class="table">
  	<tr id="comment_<%= comment.id %>">
  		<td>
        <span class="under"> <%= comment.user.name %> </span>
      </td>
      <td>
        <strong><%= comment.body %>　</strong>
        <% if comment.user == current_user %>
        <%= link_to ' 削除 ', mytrip_comments_path(comment.id), class: 'btn-sm btn-warning', method: :delete, remote: true %>
        <% end %>
      </td>
  	</tr>
  </table>
<% end %>