<div class="container">
	<div class="row">
		<h2>　<%= params[:category] %></h2>
		<% @mytrips.each do |mytrip| %>
	  	<%= render 'trip', mytrip: mytrip ,country: @country %>
		<% end %>
		<%= link_to "投稿一覧へ", admins_mytrips_path, class: "col-xs-3 col-xs-offset-9 btn btn-info" %>
	</div>
</div>