<div class="container">
	<div class="row">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
      <div id="page_top"><a href="#"></a></div>
		<h2>　<%= params[:category] %></h2>
		<% @mytrips.each do |mytrip| %>
	  	<%= render 'trip', mytrip: mytrip ,country: @country %>
		<% end %>
		<%= link_to "投稿一覧へ", admins_mytrips_path, class: "col-xs-2 col-xs-offset-9 btn btn-info" %>
    <div class="text-center">
      <div class ="pagenate center">
      <%= paginate @mytrips, class: "paginate" %>
      </div>
    </div>
	</div>
</div>

