<div class="admin-container">
　	<div class="row">
		<div class="col-xs-10 col-xs-offset-2">
      <h2>ー　管理者ページ　ー</h2><br>
        <P>
        こちらは旅行サイト「くわしめとりっぷ」の管理者ページです。<br>
        会員に安心してご利用いただくために、しっかり管理を行いましょう。<br><br>
        </P>
    </div>
    <div class="row">
      <div class="admin-top-visual col-xs-5 col-xs-offset-2"></div>
        <p class="col-xs-3"><br>
          <strong>　・　会員一覧</strong><br>
          <strong>　・　会員情報の編集</strong><br>
          <strong>　・　投稿一覧</strong><br>
          <strong>　・　投稿の編集</strong>
        </p>
    </div>
  </div>
</div>
