/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	width:400px;
	margin-right: auto;
	margin-left : auto;
	height: 50px;
	line-height: 50px;
	font-size: 17px;
}

footer {
	height: 50px;
	line-height: 50px;
}

.container {
	margin: 0 auto;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 20px;
	padding-bottom: 10px;
}

.main-visual {
  color: #EEEEEE;
　padding-top: 110px;
  width: 100%;
  height: 600px;
  background-image: url(5248.jpg);
  background-size: cover;
  background-position: center;
}
.main-visual2 {
  padding-top: 110px;
  width: 100%;
  height: 600px;
  background-image: url(5314.jpg);
  background-size: cover;
  background-position: center;
}

.post {
	background-image: url(post.jpg);
	width: 35px;
  height: 120px;
  background-size: cover;
  background-position: center;
}

.read {
	background-image: url(read.jpg);
	width: 35px;
  height: 120px;
  background-size: cover;
  background-position: center;
}

.good {
	background-image: url(good.jpg);
	width: 35px;
  height: 120px;
  background-size: cover;
  background-position: center;

}

.comment {
	background-image: url(comment.jpg);
	width: 45px;
  height: 120px;
  background-size: cover;
  background-position: center;
}

