/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  padding-top: 35px;
  padding-bottom: 10px;
}

header {
	width:800px;
	margin-right: auto;
	margin-left : auto;
	height: 35px;
	line-height: 35px;
	font-size: 17px;
}

body {
  padding-top: 90px;
  margin: 0;
 }

footer {
	height: 50px;
	line-height: 50px;
}

.signup-visual {
  width: 100%;
  height: 600px;
  background-image: url(b4da7755bb818655721f487749b338f1_s.jpg);
  background-repeat:  no-repeat;
  background-size: cover;
  background-position: center;
}
.login-visual {
  padding-top: 110px;
  width: 100%;
  height: 600px;
  background-image: url(a713289f97911807001343a7a5c6b24a_s.jpg);
  background-repeat:  no-repeat;
  background-size: cover;
  background-position: center;
}

//top page

  .image1 {
  background-image: url(IMG_5391.jpg);
  }
  .image2 {
  background-image: url(IMG_5212.jpg);
  }
  .image3 {
  background-image: url(IMG_1586.jpg);
  }
  .image4 {
  background-image: url(image4.jpg);
  }
  .image5 {
  background-image: url(image2.jpg);
  }
  #container{
    height: 500px;
  }

//about page

.aboutpage {
  width: 104%;
  height: 1000px;
  background-image: url(p0130_l.jpg);
  background-repeat:  no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.post {
  background-image: url(post.jpg);
  width: 160px;
  height: 155px;
  background-size: cover;
  opacity:  0.5;
}
.read {
  background-image: url(read.jpg);
  width: 150px;
  height: 150px;
  background-size: cover;
  opacity:  0.5;
}
.good {
  background-image: url(good.jpg);
  width: 155px;
  height: 150px;
  background-size: cover;
  opacity:  0.5;
}
.comment {
  background-image: url(comment.jpg);
  width: 155px;
  height: 155px;
  background-size: cover;
  opacity:  0.5;
}
.trip {
  background-image: url(trip.jpg);
  width: 190px;
  height: 190px;
  background-size: cover;
  opacity:  0.5;
}

//show page
.underline{
text-decoration: underline;
}

//index page,seemore page
.trip_box {
  height: 400px;
  margin-left: 25px;
}
.trip_box:first-child {
  margin-left: 0;
}
