/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 10px;
  margin: 0 auto;
}

header {
	width:800px;
	margin-right: auto;
	margin-left : auto;
	height: 20px;
	line-height: 30px;
}

footer {
	height: 40px;
	line-height: 20px;
}
.under {
  text-decoration: underline;
}

//--------------------------ページ先頭へ戻る

#page_top{
  width: 100px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #656565;
  opacity: 0.6;
  border-radius: 15px;
}
#page_top a{
  position: relative;
  display: block;
  width: 100px;
  height: 60px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -25px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
//-----------------------------------

.signup-visual {
  padding-top: 95px;
  width: 100%;
  height: 600px;
  background-image: url(tumblr.jpg);
  background-repeat:  no-repeat;
  background-size: cover;
  background-position: center;
}
.login-visual {
  padding-top: 95px;
  width: 100%;
  height: 600px;
  background-image: url(tumblr.jpg);
  background-repeat:  no-repeat;
  background-size: cover;
  background-position: center;
}

.admin-visual {
  padding-top: 100px;
  width: 100%;
  height: 600px;
  background-color: #FFD8CC;
  }

.admin-index-visual {
  padding-top: 75px;
}


//-----------------------------top page

  .image1 {
  background-image: url(IMG_5391.jpg);
  }
  .image2 {
  background-image: url(IMG_5212.jpg);
  }
  .image3 {
  background-image: url(IMG_1586.jpg);
  }
  .image4 {
  background-image: url(image4.jpg);
  }
  .image5 {
  background-image: url(image2.jpg);
  }
  #container{
    height: 560px;
  }

//-----------------------------mypage
 .mypage-visual {
 padding-top: 70px;
  background-color: #FAEBD7;
 }

//------------------------------about

.aboutpage {
  width: 98%;
  background-image: url(p0130_l.jpg);
  background-repeat:  no-repeat;
  background-size: cover;
}
.post {
  background-image: url(post.jpg);
  width: 160px;
  height: 155px;
  background-size: cover;
  opacity:  0.5;
}
.read {
  background-image: url(read.jpg);
  width: 150px;
  height: 150px;
  background-size: cover;
  opacity:  0.5;
}
.good {
  background-image: url(good.jpg);
  width: 155px;
  height: 150px;
  background-size: cover;
  opacity:  0.5;
}
.comment {
  background-image: url(comment.jpg);
  width: 155px;
  height: 155px;
  background-size: cover;
  opacity:  0.5;
}
.trip {
  background-image: url(trip.jpg);
  width: 190px;
  height: 190px;
  background-size: cover;
  opacity:  0.5;
}

//----------------------------mytrip show
.show-visual {
   padding-top: 90px;
 }
 .box1 {
    position: relative;
    margin: 1.5em 0;
    padding: 1.5em 1.5em;
    border: solid 3px #FFB265;
    border-radius: 8px;
}
.box1 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #FFB265;
    font-weight: bold;
}
.box1 p {
    margin: 0;
    padding: 0;
}

.box2 {
    position: relative;
    margin: 1.5em 0;
    padding: 1.5em 1.5em;
    border: solid 3px #999999;
    border-radius: 8px;
}
.box2 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #999999;
    font-weight: bold;
}
.box2 p {
    margin: 0;
    padding: 0;
}

.iine__button{
    background: linear-gradient(to right, #FF9932, #FFE300);
    line-height: 44px;
    color: #ED9944;
    font-size: 15px;
    display: inline-block;
    padding: 0 18px;
    border-radius: 100px;
    font-weight: bold;
 }

//---------------------mytrip index,seemore
.trip_box {
  height: 460px;
}

//------------------------------mytrip index
.new-btn {
  display: inline-block;
  padding: 0.9em 1.4em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #32CCFF;
  color:  #32CCFF;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

//---------------------------------mytrip new
.new-visual {
 width: 98%;
 height: 1800px;
 background-image: url(p0130_l.jpg);
 background-repeat:  no-repeat;
 background-size: cover;
 }

//--------------------------------mytrip edit
.edit-visual {
 width: 98%;
 height: 1750px;
 background-image: url(p0130_l.jpg);
 background-repeat:  no-repeat;
 background-size: cover;
 }
.box {
    background: #FFFFFF;
}

//-------------------------------admin index(_trip)

.trip_box2 {
  height: 450px;
}
